<section class="project-details">
  <div class="back-container">
    <a (click)="goBackToProjects()" class="back-btn">Back to Projects</a>
  </div>

  <div class="project-header">
    <h1>{{ project?.title }}</h1>
    <p class="description">{{ project?.description }}</p>
  </div>

  <div class="project-body">
    <p>{{ project?.details }}</p>
    <ul class="dot-list">
      <li>
        {{ project?.l1 }}
      </li>
      <li>{{ project?.l2 }}</li>
      <li>{{ project?.l3 }}</li>
      <li>{{ project?.l4 }}</li>
    </ul>
    <h3>Technologies Used</h3>
    <ul class="tech-list">
      <li *ngFor="let tech of project?.tech">{{ tech }}</li>
    </ul>
    <!-- 🔽 Demo Video Section -->
    <div
      class="demo-video"
      *ngIf="project?.demoVideoUrl1 || project?.demoVideoUrl2"
    >
      <h3>Project Demo</h3>
      <div class="video-container">
        <!-- First video (if present) -->
        <video
          *ngIf="project?.demoVideoUrl1"
          controls
          [src]="project.demoVideoUrl1"
          poster="assets/video-thumbnail.jpg"
        ></video>

        <!-- Second video (if present) -->
        <video
          *ngIf="project?.demoVideoUrl2"
          controls
          [src]="project.demoVideoUrl2"
          poster="assets/video-thumbnail.jpg"
        ></video>
      </div>
    </div>
  </div>
</section>
